<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distances</title>
    <link rel="stylesheet" href="/leaflet/leaflet.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link href="/markercluster/MarkerCluster.css" rel="stylesheet">
    <link href="/markercluster/MarkerCluster.Default.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="Startseite">Startseite</a>
            <a class="nav-item nav-link" href="fahrtdef">Fahrt tätigen</a>
            <a class="nav-item nav-link" href="GetaetigteFahrten">Getaetigte Fahrten</a>
            <% if (Role) { %>
                <a class="nav-item nav-link active" href="Arzt"> <%= Role %></a>
            <% } %>
            <a class="nav-item nav-link" href="#" id="logout">Logout</a>
        </div>
    </div>
</nav>

<br>
<div class="container mw-100">
    <div class="row">
        <div class="col-lg-6">
            <div id="mapid"></div>
        </div>
        <div class="col-lg-6">
            <% if (Fahrt){ %>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Fahrt wählen</label>
                    <select class="form-control" id="Fahrt">
                        <% for(var i = 0; i < Fahrt.length; i++){ %>
                            <option value="<%= Fahrt[i]._id %>">Name: <%= Fahrt[i].Name %>, Abfahrtsdatum: <%=Fahrt[i].Datum%> , Abfahrtszeit: <%= Fahrt[i].Zeit%> Uhr, Haltestellenname:  <%=Fahrt[i].Haltestellenname%></option>
                        <% } %>
                    </select>
                </div>

                <button class="btn btn-primary" type="" onclick="markieren()">Flaggen</button>

            <% }else{ %>
                <h1 class="display-1">Keine Fahrt da :(</h1>
            <% } %>


        </div>
    </div>
</div>



<br>
<footer class="footer" id="sticky-footer">
    <div class="container text-center">
        <span class="text-muted">
            Autor: Busemann, Sterthaus <br>
            Organisation: WWU <br>
            Aufgabe: Projekt
        </span>
    </div>
</footer>


<script src="/leaflet/leaflet.js"></script>
<script src="/jquery/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/markercluster/leaflet.markercluster.js"></script>
<script src="../javascripts/Map.js"></script>
<script src="../javascripts/ArztMenueFahrt.js"></script>
<script type="text/javascript" src="../javascripts/LogInAndOut.js"></script>
</body>
</html>
